.search-hero {
    width:80%;
    margin-top:10%;
    margin:auto;
    font-family: FontAwesome;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
      font-family: Arial;
  }
  input{
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  a{
      text-decoration: none;
      color: grey;
      width: 100%;
      height: 100%;
      font-size: 20px;
  }
  a:hover{
      font-family: Arial;
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: black;
  }
  .dropdn{
    width:50%;
  }
  span.icon { 
    font-family: FontAwesome; 
    color: grey;
  }
  span.icon1 { 
    font-family: FontAwesome; 
    color: grey;
    float: right;
    cursor: pointer;
  }
  .header{
    float: right;
  }
  .card-link{
    font-weight: bold;
  }
  .btn{
    float: left;
  }